$h: 80px;
.albums {
	position: relative;
	max-height: calc(100vh - 95px);
	overflow: auto;
}
.album {
	width:100%;
	height:$h;
	display: block;
	margin-top: 5px;

	&:hover, &:focus {
		background-color: $white-tint;
	}
	&__picture {
		position: absolute;
		width:$h;
		height:$h;
		background-color: gray;
		background-position: center;
		background-size: cover;
	}
	&__title {
		margin-left:$h+10;
		padding:6px 0 3px;
		color:$white;
		font-size: $fs-h5;
	}
	&__author {
		margin-left:$h+10;
		color:$white;
		font-size: $fs-small;
	}
	&__time {
		color:$white;
		font-size: $fs-small;
		margin-left:$h+10;
	}
	&__heart {
		padding-right: 20px;
		float:right;
	}
}
