.navbar {
	background: transparent!important;
	box-shadow: none;
	border-color:transparent;
	&-brand {
		color: $tan!important;
		text-shadow: none;
		font-family: "Cherry Swash", cursive;
		font-size: $fs-large;
	}
	&-np {
		font-size: 9px;
    color: #FFF9DE !important;
    text-shadow: none;
    width: 40px;
    text-align: right;
    margin: 13px 5px 0;
    display: inline-block;
    i {
    	font-size:22px;
    	position: relative;
    	left:-8px;
    }
	}
	&-header {
		@media screen and (min-width:768px) {
			float:none!important;
		}
	}
	&-right {
		@media screen and (min-width:768px) {
			margin-right:0!important;
		}	
	}
	&-toggle {
		border:none;
		.icon-bar {
			background-color: $tan!important;
			font-size: $fs-large;
		}
		&:hover, &:focus {
			background-color: $white-tint!important;
		}
		@media screen and (min-width:768px) {
			display: block!important;
		}
	}
	&-title {
		position:absolute;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		text-align: center;
		text-outline: 10px;
		font-size: $fs-large;
		color:white;
		top:10px;
	}
	&-text {
		display:inline;
		float:right;
		color: $white!important;
		font-size: $fs-small;

	}
}
