<a class="album" href="0album.html">
	<div class="album__picture" {% if album.picture %}
		style="background: url({{album.picture}})"
	{% endif %}>
	</div>
	<div class="album__title">
		{{album.title}}
	</div>
	<div class="album__author">
		{{album.author}}
	</div>
	<div class="album__time">
		Uploaded: {{album.date}}
	</div>
</a>