<li>
		<span class="aplayerlist__index">1</span>
		<span class="aplayerlist__title">Song Name</span>
		<span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
		<span class="aplayerlist__play"></span>
		<span class="aplayerlist__author">Album Name</span>
</li>
