# Change search to be more ubiquitous
# Fix spacing on music icon
{% set header = {
	title: '',
	nomenu: true
} %}
<!-- index.nunjucks -->
{% extends "../partials/layout.njk" %}

{% block content %}
<div class="main">
	<h2 class="main__title">Hymnist is a place to share and listen to music in the church life.</h2>
	<a href="0radio.html" class="main__link main__link--spotlight">Play Radio <i class="fa fa-music" aria-hidden="true"></i></a>
	<a href="0recentalbums.html" class="main__link main__link--nospace">Browse New Albums</a>
	<a href="0signin.html" class="main__link main__link--nospace">Sign In</a>
	<a href="faq.html" class="main__link main__link--nospace">FAQ</a>

</div>
{% include "../partials/search.njk" %}
{% endblock %}
