{% set header = {
title: 'Search',
nomenu: false
} %}
<!-- index.nunjucks -->
{% extends "../partials/layout.njk" %}
{% block content %}
	{% set bot = {
	left: 'Songs (23)',
	lhref: '0search.html',
	right: 'Albums (5)',
	rhref: '0search-albums.html',
	relative:true
	} %}
	{% include "../partials/bot.njk" %}
	<div class="playlist">
		<ul>
			<ul>
				<li>
					<span class="aplayerlist__index">1</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:38</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index"><i class="fa fa-pause-circle" aria-hidden="true"></i></span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:47</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">3</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">4:51</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">4</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:01</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">5</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">1:16</span>
					<span class="aplayerlist__album">Album</span>
				</li>
				<li>
					<span class="aplayerlist__index">6</span>
					<span class="aplayerlist__title">Song Title</span>
					<span class="aplayerlist__time">2:14</span>
					<span class="aplayerlist__album">Album</span>
				</li>
			</ul>
		</ul>
	</div>
	<div class="bot">
		<div class="bot__text">
			Search Again:
		</div>
		<input type="text" class="bot__search" value="Love">
	</div>
{% endblock %}