{% set header = {
title: '[Album Name]',
nomenu: false
} %}
{% extends "../partials/layout.njk" %}
{% block content %}
  {% set album = {
  title: 'Green Room',
  author: 'Titus J, Spencer Y, Phil B, Mary J',
  date: "8 days ago"
  } %}
  {% include "../partials/album.njk" %}
  {% set bot = {
  left: 'Play Album',
  relative: true
  } %}
  <div class="bot bot--relative">
    <a href="#" class="bot__btn bot__btn--left">
      Favorite Album &nbsp; <i class="fa fa-heart-o" aria-hidden="true"></i>
    </a>
    <a href="#" class="bot__btn bot__btn--right">
      Play Album
    </a>
  </div>
  <div class="playlist">
    <div class="aplayerlist">
      <ul>
        <li>
          <span class="aplayerlist__index">1</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:38</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index"><i class="fa fa-pause-circle" aria-hidden="true"></i></span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">2:47</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">3</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">4:51</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">4</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">2:01</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">6</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">2:14</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        <li>
          <span class="aplayerlist__index">5</span>
          <span class="aplayerlist__title">Song Title</span>
          <span class="aplayerlist__heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          <span class="aplayerlist__time">1:16</span>
          <span class="aplayerlist__album">Album</span>
        </li>
        
      </ul>
    </div>
  </div>
</form>
{% endblock %}