{% set header = {
	title: 'Radio'
} %}
{% set bot = {
	left: 'Clear & Reload',
	right: 'Load More Songs'
} %}
<!-- index.nunjucks -->
{% extends "../partials/layout.njk" %}

{% block content %}
<div id="player1" class="aplayer"></div>
{% include "../partials/bot.njk" %}

{% endblock %}

{% block scripts %}
<script src="js/APlayer.js"></script>
<script type="text/javascript">
	var ap = new APlayer({
        element: document.getElementById('player1'),
		autoplay: false,
		theme: '#E77070',
		music: [
			{
        title: 'Song Name',                                          // Required, music title
        author: 'Album Name',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{
        title: 'Preparation',                                          // Required, music title
        author: 'The Green Room',                          // Required, music author
        url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
        pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			},
			{                                                           // Required, music info, see: ###With playlist
				title: 'Preparation',                                          // Required, music title
				author: 'The Green Room',                          // Required, music author
				url: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.mp3',  // Required, music url
				pic: 'http://7xifn9.com1.z0.glb.clouddn.com/Preparation.jpg',   // Optional, music picture
				lrc: '[00:00.00]lrc here\n[00:01.00]aplayer'                   // Optional, lrc, see: ###With lrc
			}
		]
	});
	$().ready(function() {
		console.log("hi");
		ap.init();
	})

</script>
{% endblock %}
