{% set header = {
	title: 'Search',
	now_playing: true
} %}
<!-- index.nunjucks -->
{% extends "../partials/layout.njk" %}

{% block content %}
<div class="playlist playlist--shortened-double">
	<ul>
		{% include "../partials/album-item.njk" %}
		{% include "../partials/album-item.njk" %}
		{% include "../partials/album-item.njk" %}
		{% include "../partials/album-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
		{% include "../partials/list-item.njk" %}
	</ul>
</div>

{% set bot = {
	left: 'My Playlist',
	lhref: 'playlist.html',
	right: 'Search',
	rhref: 'search.html',
	search: true,
	term: "Love"
} %}
{% include "../partials/bot.njk" %}

{% endblock %}

{% block scripts %}
<script src="js/APlayer.js"></script>

<script type="text/javascript">
	var ap = new APlayer({
		element: document.getElementById('player1'),
		autoplay: false,
		theme: '#E77070',
		music:
			{
        title: 'Song Name',                                          // Required, music title
        author: 'Album Name',                          // Required, music author
        url: 'http://devtest.qiniudn.com/Preparation.mp3',  // Required, music url
        pic: 'http://devtest.qiniudn.com/Preparation.jpg',   // Optional, music picture
        lrc: '[00:00.00]lrc here\n[00:01.00]aplayer\n[00:02.00]aplayer\n[00:04.00]aplayer'                   // Optional, lrc, see: ###With lrc
    	}
	});
	$().ready(function() {
		console.log("hi");
		ap.init();
	})

</script>
{% endblock %}
